h3{
    background-color: aquamarine;
    font-size: large;
    text-align: center;
}

p{
    background-color: bisque;
    font-size: 24;
    padding: 10px;
    margin: 10px;
    text-align: center;
}